@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Seymour+One&display=swap');

:root {
    --body: #514656;
    --menu: #3d3341;
    --interaction: #73606f;
    --text: #f2f3f5;
    --text-hover: #7d7d7d;
    --border: #ffffff66;
    --active: #d972d9;
    --tut-menu: #302b31;
    --title-bar: #3f2d4a;
    user-select: none;
    outline: unset;
}

body {
    background-color: var(--body);
}

#drag {
    -webkit-app-region: drag;
    user-select: none;
    position: fixed;
    left: 0;
    top: 0;
    width: calc(100vw - 60px);
    border-bottom-style: groove;
    border-color: #202020;
    border-width: 1px;
    height: 30px;
    z-index: 1;
}

.title-bar {
    background-color: var(--title-bar);
    height: 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 999;
    display: flex;
    flex-direction: row;
    align-items: center;
    user-select: none;
    border-bottom-style: groove;
    border-color: var(--border);
    border-width: 2px;
}

.title-bar-content {
    color: var(--text);
    padding: 1vh;
    font-size: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;

    font-family: "Montserrat", sans-serif;
    font-weight: lighter;
}

.title-bar-content>img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    filter: hue-rotate(45deg);
    border-radius: 10px;
}

/* Window control buttons */
.title-bar-button {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    display: inline-block;
    font-weight: bold;
    color: var(--text);
    font-size: 10px;
    opacity: 1;
    text-align: center;
    border-radius: 5px;
    padding: 2px;
}

.title-bar-button:hover {
    color: #000;
    cursor: pointer;
}

/* Position the buttons on the right side of the title bar */
.title-bar-buttons {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

#dir-btns {
    position: fixed;
    top: 30px;
    left: 0;
    width: 100vw;
    height: fit-content;
    display: flex;
    padding-top: 2vh;
    padding-bottom: 2vh;
    background-color: var(--menu);
    align-items: center;
}

#bck {
    padding: 1vh;
    margin: 0;
    margin-left: 1.5vw;
    background-color: var(--interaction);
    border-color: var(--border);
    border-radius: 20px;
    height: fit-content;
    border-style: solid;
    border-width: 2px;
    color: var(--text);
}

#nxt {
    padding: 1vh;
    margin: 0;
    margin-left: 3vw;
    background-color: var(--interaction);
    border-color: var(--border);
    border-radius: 20px;
    height: fit-content;
    border-style: solid;
    border-width: 2px;
    color: var(--text);
}

#bck:hover,
#nxt:hover {
    color: var(--text-hover);
    background-color: var(--body);
    cursor: pointer;
}

#search {
    margin: 0;
    padding: 0;
    margin-left: 10vw;
    font-size: 2vh;
    text-align: left;
    color: var(--text);
    background-color: var(--interaction);
    width: 40vw;
    height: 26px;
    padding-left: 20px;
    padding-top: 2vh;
    border-style: solid;
    border-color: var(--border);
    outline: unset;
}

#data {
    position: fixed;
    top: 130px;
    width: 600px;
    height: 70vh;
    background-color: var(--menu);
    overflow: auto;
    overflow-x: hidden;
}

#labels {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

#labels>p {
    text-align: center;
    font-size: 2vh;
}


.entry {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
}

.entry>p {
    text-align: center;
    font-size: 2.5vh;
}

#hidden {
    width: 15vw;
    height: 2vh;
    display: flex;
    justify-content: center;
}

#hidden>div {
    background-color: #cc0000;
    width: 2vh;
    height: 2vh;
    border-radius: 10px;
    border-style: solid;
    border-color: var(--border);
}




#data::-webkit-scrollbar {
    width: 2px;
}

/* Track */
#data::-webkit-scrollbar-track {
    background: var(--tut-menu);
}

/* Handle */
#data::-webkit-scrollbar-thumb {
    background: var(--interaction);
}

/* Handle on hover */
#data::-webkit-scrollbar-thumb:hover {
    background: var(--active);
}



#quickDir {
    position: fixed;
    left: 625px;
    top: 130px;
    width: 50px;
    height: fit-content;
    max-height: 500px;
    display: flex;
    flex-direction: column;
}

#quickDir>img {
    /* height: 40px; */
    width: 40px;
}

#quickDir>img:hover {
    opacity: 0.5;
    cursor: pointer;
}

#desktop {
    border-radius: 50%;
    filter: brightness(0.5);
}

.error,
.result {
    padding: 0;
    margin: 0;
    padding-left: 5px;
    margin-top: 15px;
    width: calc(100% - 5px);
}

.error {
    color: #ae0000;
    text-shadow: 1px 1px 1px #000;
}

.result {
    color: var(--text);
}


#terminal {
    position: fixed;
    left: 700px;
    width: 400px;
    height: 420px;
    top: 130px;
    background-color: var(--menu);
    border-style: solid;
    border-color: var(--border);
}

#terminal>#output {
    width: 100%;
    height: 90%;
    border-bottom-style: solid;
    border-color: var(--border);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

#terminal>#cline {
    width: 96%;
    height: 10%;
    background-color: transparent;
    font-size: 2vh;
    color: var(--text);
    padding: 0;
    margin: 0;
    border-style: none;
    outline: unset;
    padding-left: 2%;
    padding-right: 2%;
}

#terminal>#output::-webkit-scrollbar {
    width: 2px;
}

/* Track */
#terminal>#output::-webkit-scrollbar-track {
    background: var(--tut-menu);
}

/* Handle */
#terminal>#output::-webkit-scrollbar-thumb {
    background: var(--interaction);
}

/* Handle on hover */
#terminal>#output::-webkit-scrollbar-thumb:hover {
    background: var(--active);
}